  /* .custom-home-container {
    --image-outline-color: #2094f3;
  } */

  .main-home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 20%);
    margin-left: auto;
    margin-right: auto;
    max-width: 61rem;
    padding: 0 .5rem;
  }

  .text-section-container {
    padding: 3rem 0 2rem 0;
  }

  .text-content-container {
    display: flex;
    width: 100%;
    /* align-content: center; */
    justify-content: center;
  }

  .text-content-container h1 {
    color: inherit;
    font-size: xx-large;
    line-height: 0;
  }

  .text-content-container p {
    max-width: 60%;
    color: inherit;
    text-align: center;
    font-size: 0.7rem;
  }

  /* .image-container {
    padding: 0 4.5rem;
  } */
  .media-container {
    padding: 0 4.5rem;
  }

  .media-background {
    background-color: rgb(19, 23, 30);
    padding: 0.3rem;
    border-radius: 0.5rem;
    /* outline: 3px solid var(--image-outline-color);
    outline-offset: 2px; */
  }

  /* .md-main, .md-main__inner {
    margin: 0;
    flex-grow: 0;
    height: 0;
  } */

  /* @media screen and (prefers-color-scheme: dark) {
    .custom-home-container {
      --image-outline-color: rgb(20, 21, 26);
    }
  } */
